@font-face {
    font-family: "asigd-logo";
    src: url("./asigd-logo.eot?868e3e5260a46be63f151f66b727e31d?#iefix") format("embedded-opentype"),
url("./asigd-logo.woff2?868e3e5260a46be63f151f66b727e31d") format("woff2"),
url("./asigd-logo.woff?868e3e5260a46be63f151f66b727e31d") format("woff"),
url("./asigd-logo.ttf?868e3e5260a46be63f151f66b727e31d") format("truetype"),
url("./asigd-logo.svg?868e3e5260a46be63f151f66b727e31d#asigd-logo") format("svg");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: asigd-logo !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-asigd-logo:before {
    content: "\f101";
}
