<!DOCTYPE html>
<html {{ helmet.htmlAttributes|safe }}>

<head>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('consent', 'default', {
        'ad_storage': 'denied',
        'analytics_storage': (parseInt(window.localStorage.getItem('analytics_storage') || 1, 10)) ? 'granted' : 'denied',
    });
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KH64LMS');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{ helmet.title|safe }}
    {{ helmet.meta|safe }}
    {{ helmet.link|safe }}
    {{ helmet.style|safe }}
    {{ helmet.script|safe }}

    {{ chunks.linkTags|safe }}
    {# chunks.styleTags|safe #}
    {{ chunks.inlineStyleTags|safe }}

</head>

<body {{ helmet.bodyAttributes|safe }}>

    {{ helmet.noscript|safe }}

    <div id="root">{{ dom|safe }}</div>

    {{ chunks.scriptTags|safe }}

    <dialog class="banner" data-consent-dialog>
        <div class="backdrop"></div>
        <div class="border"></div>
        <section>
            <p>This site uses <em>Analytics</em> cookies from Google to analyze traffic. <a href="https://policies.google.com/technologies/cookies">Learn more...</a></p>
            <div class="buttons">
                <button type="button" value="1" data-consent-storage="analytics_storage" data-consent-toggle>Accept</button>
                <button type="button" value="0" data-consent-storage="analytics_storage" data-consent-toggle>Reject</button>
            </div>
        </section>
    </dialog>

    <script>
        if (!window.localStorage.getItem('consent_dialog')) {
            document.querySelector('[data-consent-dialog]').setAttribute('open', '');
        }
        document.querySelectorAll('[data-consent-toggle]').forEach(function (element) {
            element.addEventListener('click', function (event) {
                if (!window.localStorage.getItem('consent_dialog')) {
                    window.localStorage.setItem('consent_dialog', (new Date()).toISOString());
                }
                document.querySelector('[data-consent-dialog]').toggleAttribute('open');
            });
        });
        function consentEvent(event) {
            window.localStorage.setItem(event.target.dataset.consentStorage, event.target.value);
            gtag('consent', 'update', {[event.target.dataset.consentStorage]: (parseInt(event.target.value, 10)) ? 'granted' : 'denied' });
        }
        document.querySelectorAll('[data-consent-storage]').forEach(function (element) {
            element.addEventListener('click', consentEvent);
        });
    </script>

</body>

</html>