// https://www.npmjs.com/package/icon-font-generator
// icon-font-generator asigd-logo.svg -o icon-font -n asigd-logo

@import 'vars';
@import '../css/theme.css';

:root,
[data-color-scheme="light"] {
    --overlay-opacity: 1;
}

[data-color-scheme="dark"] {
    --overlay-opacity: 0.8;
}

@media (prefers-color-scheme: light) {
    [data-color-scheme="media"] {
        --overlay-opacity: 1;
    }
}

@media (prefers-color-scheme: dark) {
    [data-color-scheme="media"] {
        --overlay-opacity: 0.8;
    }
}

html,
body {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4 {
    line-height: 1;
}

html,
body,
section,
header,
footer,
h1,
h2,
h3,
h4,
p,
button {
    margin: 0;
    padding: 0;
}

button {
    border: 0;
    border-radius: 0;
}

a,
button {
    outline: 0 !important;
}

body {
    color: var(--color);
    font-size: 100%;
    font-family: serif;
    line-height: 1;
}

a {
    cursor: pointer;
    color: var(--color);
    text-decoration: underline;
    outline: none;
}


.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
}

header,
footer {
    position: fixed;
    width: 100%;
    height: $icon-height * 1px;
    line-height: $icon-height * 1px;
    text-align: center;
    a {
        display: inline-block;
        height: $icon-height * 1px;
        line-height: $icon-height * 1px;
    }
}

.flex-rows {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

header {
    top: 16px;
    left: 0;
}

header,
footer {
    .icon-button {
        display: inline-block;
        overflow: hidden;
        margin: 0 8px;
    }
}

footer {
    bottom: 16px;
    left: 0;
}

.hero {
    position: relative;
    padding: 32px;
}

.blur {
    opacity: 0.8;
}

body,
.blur {
    transition: 1s;
}

#root,
section.main {
    width: 100%;
    height: 100%;
}

#root > .backdrop {
    position: fixed;
}

.icon-button {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: $icon-height * 1px;
    height: $icon-height * 1px;
    border-radius: 50%;
    color: var(--background-color);
    background-color: var(--color);
    text-decoration: none;
    text-align: center;
    transition: .5s;
    i {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        line-height: $icon-height * 1px;
        font-size: ($icon-height / 2) * 1px;
        color: var(--background-color);
        opacity: var(--overlay-opacity);
        transition: .5s;
    }
}