.page {
    padding: 80px 16px;
    margin: 0 auto;
    max-width: 768px;
    .content {
        position: relative;
        h2 {
            height: 32px;
            line-height: 32px;
            border-bottom: 1px solid var(--color);
            font-size: 32px;
            padding-bottom: 8px;
        }
        .title,
        h3 {
            letter-spacing: 2px;
            text-transform: uppercase;
            font-family: serif;
            font-weight: normal;
        }
        .title {
            padding-left: 4px;
        }
        h3 {
            height: 16px;
            line-height: 16px;
            font-size: 16px;
            padding-top: 8px;
        }
    }
    .sections {
        position: relative;
        margin-top: 32px;
        border-left: 1px solid var(--color);
        section {
            position: relative;
            padding-bottom: 32px;
            padding-left: 32px;
            // &:last-child {
            //     padding-bottom: 0;
            // }
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 32px;
                border-top: 1px solid var(--color);
            }
            &> * {
                padding-left: 8px;
                padding-right: 8px;
                margin-bottom: 16px;
            }
            .labels {
                padding-left: 0;
                margin-bottom: 8px;
            }
            h4 {
                font-family: monospace;
                font-weight: normal;
                text-transform: capitalize;
                display: inline-block;
                position: relative;
                width: auto;
                height: 24px;
                line-height: 24px;
                font-size: 16px;
                border-left: 1px solid var(--color);
                border-bottom: 1px solid var(--color);
                border-right: 1px solid var(--color);
                // margin-bottom: 8px;
            }
        }
    }
    .labels {
        line-height: 16px;
        font-size: 12px;
        font-family: monospace;
        text-transform: uppercase;
        span {
            position: relative;
            display: inline-block;
            height: 16px;
            line-height: 16px;
            padding: 0 8px;
            margin: 0 8px 8px 0;
            &::before {
                content: "";
                position: absolute;
                height: 16px;
                width: 4px;
                top: -2px;
                left: 0;
                border: 1px solid var(--color);
                border-right: 0;
            }
            &::after {
                content: "";
                position: absolute;
                height: 16px;
                width: 4px;
                top: -2px;
                right: 0;
                border: 1px solid var(--color);
                border-left: 0;
            }
        }
    }
}