<!-- Latest Version -->
<script src="https://cc.cdn.civiccomputing.com/9/cookieControl-9.x.min.js" type="text/javascript"></script>
<script>
    (function () {
        var theme = document.body.dataset.colorScheme || 'light';
        if (theme === 'media' && window.matchMedia) {
            theme = (window.matchMedia('(prefers-color-scheme: dark)').matches) ? 'dark' : 'light';
        }
        var trackingId = 'UA-160246126-1';
        var gaDisable = 'ga-disable-' + trackingId;
        var config = {
            apiKey: '117e01e24d726640632c744779646463623835c7',
            product: 'COMMUNITY',
            necessaryCookies: [
                'state'
            ],
            optionalCookies: [
                {
                    name: 'analytics',
                    label: 'Analytical Cookies',
                    description: 'Analytical cookies help us to improve our website by collecting and reporting anonymous information on its usage.',
                    cookies: ['_ga', '_gid', '_gat*'],
                    onAccept: function () {
                        if (window[gaDisable]) {
                            window[gaDisable] = false;   
                        }
                        dataLayer.push({
                            'event': 'analytics_consent_accepted'
                        });
                    },
                    onRevoke: function () {
                        window[gaDisable] = true;
                    }
                }
            ],
            position: 'right',
            theme: theme,
        };

        CookieControl.load(config);

        document.querySelector('[data-open-cookie-control]').addEventListener('click', function () {
            CookieControl.open();
        });
        
    })();
</script>
<style>
    #ccc-icon {
        display: none !important;
    }
</style>