@font-face {
    font-family: "asigd-logo";
    src: url('../fonts/asigd-logo.eot');
    src:
        /* local("asigd-logo"), */
        url("../fonts/asigd-logo.eot") format("embedded-opentype"),
        url("../fonts/asigd-logo.woff2") format("woff2"), 
        url("../fonts/asigd-logo.woff") format("woff"),
        url("../fonts/asigd-logo.ttf") format("truetype"),
        url("../fonts/asigd-logo.svg#asigd-logo") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.asigd-logo:before {
    font-family: "asigd-logo";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-asigd-logo:before {
    content: "\f101";
}