dialog.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 16px;
    border: 0;
    box-sizing: border-box;
    box-shadow: 0 1px 16px var(--color);
    background-color: var(--color);
    color: var(--color);
    font-family: sans-serif;
    font-size: 14px;
    line-height: 16px;
}
dialog.banner .backdrop {
    opacity: var(--overlay-opacity);
    background-color: var(--background-color);
}
dialog.banner .border {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px solid var(--color);
    opacity: 0.8;
}
dialog.banner section {
    position: relative;
    max-width: 768px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    opacity: 0.8;
}
dialog.banner section p {
    flex-grow: 1;
}
dialog.banner section a {
    white-space: nowrap;
}
dialog.banner .buttons {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin-left: 16px;
}
dialog.banner .buttons button {
    border: 0;
    box-sizing: border-box;
    padding: 8px;
    font-size: 12px;
    cursor: pointer;
    background-color: var(--color);
    color: var(--background-color);
    border: 1px solid var(--color);
    text-transform: uppercase;
}
dialog.banner .buttons button + button {
    margin-left: 8px;
    background-color: transparent;
    color: var(--color);
}