:root {
    --color-dark: #000;
    --color-light: #fff;
}

:root,
[data-color-scheme="light"] {
    --color: var(--color-dark);
    --background-color: var(--color-light);
}

[data-color-scheme="dark"] {
    --color: var(--color-light);
    --background-color: var(--color-dark);
}

@media (prefers-color-scheme: light) {
    [data-color-scheme="media"] {
        --color: var(--color-dark);
        --background-color: var(--color-light);
    }
}

@media (prefers-color-scheme: dark) {
    [data-color-scheme="media"] {
        --color: var(--color-light);
        --background-color: var(--color-dark);
    }
}
