.splash {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--color);
    .logo {
        display: block;
        font-size: 420px;
        max-height: 420px;
        max-width: 100%;
    }
    .lead {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 32px;
        line-height: 32px;
        text-align: center;
        h3 {
            font-weight: normal;
            font-size: 12px;
            font-family: "Times New Roman", Times, serif;
            text-transform: uppercase;
            letter-spacing: 22px;
            padding-left: 22px;
            line-height: inherit;
        }
    }
}

@media (max-width: 576px) {
    .splash {
        .logo {
            font-size: 280px;
            max-height: 280px;
        }
        .lead {
            h3 {
                letter-spacing: 12px;
                padding-left: 12px;
            }
        }
    }
}